:root {
    --azul: #00003d;
    --azulmedioclaro: #00276c;
    --azulclaro: #014ba0;
    --azulclarito: #e96d00;
    --blanco: #ffffff;
    --degradado: linear-gradient(90deg, var(--azulclarito), var(--azul));
}

*::selection {
    background: var(--azulclarito);
    color: white;
}

* {
    font-family: sans-serif;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    /*Esto es importantisimo*/
    color: var(--azul);
    text-decoration: none;
    outline: none;
}

table {
    width: 70%;
    border: var(--azul) 1px solid;
}

td,
th {
    width: 25%;
    border: var(--azulmedioclaro) 1px solid;
    padding: 0.3em;
}

header {
    position: flex;
    display: flex;
    font-family: sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    z-index: 1000;
}

.Logo {
    display: flex;
    align-items: center;
    color: var(--azul);
}

.Logo img {
    height: 100px;
    margin-right: 10px;
}

nav a {
    color: var(--azul);
    text-decoration: none;
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: var(--azulclaro);
}

body {
    font-family: sans-serif;
    background: whitesmoke;
}

#info {
    padding: 5%;
}

#info h1 {
    text-align: center;
    color: var(--azul);
}

#info h2 {
    color: var(--azulclaro);
}

.content {
    align-content: center;
    min-height: 30vh;
    padding: 5%;
}

.content h2 {
    text-align: center;
}

.item a:hover {
    color: var(--azul);
}

.item a {
    color: var(--azulclarito);
}

#cuadricula {
    padding-top: 30px;
    /*transforma la #cuadricula en un contenedor grid:*/
    display: grid;
    /*esto genera 3 columnas iguales cuya anchura es 1fr */
    grid-template-columns: 1fr 1fr 1fr;
    /*establece el espaciado entre los ítems del grid*/
    grid-gap: 1em;
}

section {
    min-height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.about_me {
    width: 100%;
    background-color: var(--azul);
}

.about_me .grupo1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 45px 45px;
}

.about_me .grupo1 .box h2 {
    color: var(--azulclarito);
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 20px;
}

.about_me .grupo1 .box p {
    color: white;
    margin-bottom: 10px;
}

.about_me .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_me .grupo1 .box figure img {
    width: 250px;
}

.about_me .grupo2 {
    width: 100%;
    text-align: center;
    padding: 15px 10px;
    background-color: var(--azulmedioclaro);
}

.about_me .grupo2 small {
    color: white;

}

.about_me .grupo2 small b {
    color: white;
}

@media screen and (max-width:800px) {
    .about_me .grupo1 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 35px;
    }
}