/* * {
  display: block;
} */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&family=Oswald:wght@500&family=PT+Sans:wght@400;700&family=Poppins:wght@300;400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", 'Times New Roman', Times, serif;
/*   background-color: black; */
}
fichero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 117, 15);
}
ficha {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  width: 200px;
  border-radius: 6px;
  background-color: rgb(236, 164, 164);
  color: rgb(22, 25, 217);
  box-shadow: 0px 0px 10px #9599c0;
}
nombre[sexo]::after {
  content: "(Género " attr(sexo) " ) ";
  color: rgb(37, 33, 2);
  font-size: 3mm;
  font-weight: bold;
}
